<div class="one image" id="main_cat_img">
	<img alt="" class="main" width="320" src="/images/holding4.jpg" />
</div>

<div class="two" id="sub_content">
<h1>Log In</h1>

<p>To make a purchase, please <a href="/signup">sign up</a> and then login using your username and password.</p>

<%= render :partial => "form" %>
</div>