<h1>New account</h1>

<p>Instructions for activating your account have been sent to <%=h @user.email %> If this address is incorrect, please <%= link_to 'signup', signup_path %> again. If you do not receive the email soon, please check your spam filter.</p>