<div class="one image" id="main_cat_img">
	<img alt="" class="main" width="320" src="/images/holding2.jpg" />
</div>
<div class="two" id="sub_content">
<h1>Forgotten Password?</h1>

<% proper_form_for :user, :url => forgot_password_url, :method=>:post do |f| -%>

<% fieldset do -%>
	<%= f.text_field :email %>
<% end -%>

<% fieldset :class => "submit" do -%>
<%= f.submit "Send me my password" %>
<% end -%>

<% end -%>
</div>