<div id="footer">
		<form id="subscribe" action="http://mailer.deepcalm.com/t/1/s/kttul/" method="post">
			<input name="mb-name" type="text" id="f_name" value="Name" onclick="this.value=''" />
			<input name="mb-kttul-kttul" type="text" id="f_email" value="Email" onclick="this.value=''" />
			<input id="submit" type="submit" value="Subscribe" />
		</form>
					
		<div id="footer_text">
			<ul class="menu">
				<li id="terms"><a href="/terms-and-conditions">Terms And Conditions</a></li>
				<li id="policy"><a href="/privacy-policy">Privacy Policy</a></li>
				<li id="contact"><a href="/contact-us">Contact Us</a></li>
				<li id="shopping"><a href="/shopping-guide">Shopping Policy</a></li>
				<li id="return"><a href="/returns-refunds">Returns And Refunds</a></li>																		
        <li id="log"><a href="/login">Login</a></li> 
			</ul>					
		</div>					
</div>		
