/* ============= CSS Reset ============= */
/* Makes browsers behave!                */
/* ===================================== */

body,div,
dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,
p,blockquote,th,td { 
margin:0;
padding:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

img, a img { 
border:0;
}

ol,ul {
list-style:none;
}

caption,th {
text-align:left;
}

q:before,q:after {
content:'';
}

abbr,acronym {
border:0;
}

a:focus {
outline: none;
}

#main ul, #main ol {
list-style-position: inside;
}

/* ============= Utility Stuff ============= */
/* Handy stuff!
/* ==================================== */

.uppercase {
text-transform: uppercase;
}

.required {
color: #B90000;
font-weight: bold;
}